<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,580},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>004_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{222,146}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{222,146}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>004_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,137},{86,186}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{86,186}}</string>
                <key>sourceSize</key>
                <string>{120,192}</string>
            </dict>
            <key>004_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,225},{86,186}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{86,186}}</string>
                <key>sourceSize</key>
                <string>{120,192}</string>
            </dict>
            <key>026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,643},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>026_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,315},{106,84}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{106,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>026_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,580},{94,102}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{94,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>026_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,595},{94,102}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{94,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,677},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>030_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,642},{108,100}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>030_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,571},{104,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>030_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,571},{104,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,595},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>038_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,197}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{256,197}}</string>
                <key>sourceSize</key>
                <string>{300,217}</string>
            </dict>
            <key>038_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,338},{176,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{176,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>038_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,313},{176,176}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{176,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,677},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>040_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{234,133}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{234,133}}</string>
                <key>sourceSize</key>
                <string>{252,153}</string>
            </dict>
            <key>040_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,473},{100,154}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,26},{100,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>040_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,575},{100,154}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{100,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,677},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>043_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,2},{200,155}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,62},{200,155}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>043_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,471},{122,150}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,30},{122,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>043_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,486},{122,150}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,30},{122,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>058.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,672},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>058_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,321},{182,160}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{182,160}}</string>
                <key>sourceSize</key>
                <string>{198,180}</string>
            </dict>
            <key>058_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,143},{143,162}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{143,162}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>058_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,435},{143,162}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{143,162}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,610},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>062_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,143},{126,168}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{126,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>062_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,263},{112,174}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{112,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>062_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,377},{112,174}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{112,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,610},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>070_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{270,170}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{270,170}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>070_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,168},{168,200}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{168,200}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>070_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,150},{168,200}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{168,200}}</string>
                <key>sourceSize</key>
                <string>{240,210}</string>
            </dict>
            <key>082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,658},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>082_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,338},{133,188}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{133,188}}</string>
                <key>sourceSize</key>
                <string>{153,192}</string>
            </dict>
            <key>082_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,625},{117,153}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{117,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>082_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,625},{117,153}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{117,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,672},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>095_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{210,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{210,164}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>095_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,271},{162,164}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{162,164}}</string>
                <key>sourceSize</key>
                <string>{168,180}</string>
            </dict>
            <key>095_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,307},{162,164}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{162,164}}</string>
                <key>sourceSize</key>
                <string>{168,180}</string>
            </dict>
            <key>099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,672},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>099_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,315},{127,162}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{127,162}}</string>
                <key>sourceSize</key>
                <string>{153,192}</string>
            </dict>
            <key>099_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,500},{103,149}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{103,149}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>099_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,491},{103,149}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{103,149}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,672},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>103_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,341},{164,143}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{164,143}}</string>
                <key>sourceSize</key>
                <string>{192,153}</string>
            </dict>
            <key>103_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,575},{103,154}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{103,154}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>103_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,516},{103,154}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{103,154}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,668},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>107_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,204},{160,135}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{160,135}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>107_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,617},{114,125}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{114,125}}</string>
                <key>sourceSize</key>
                <string>{132,153}</string>
            </dict>
            <key>107_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,617},{114,125}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{114,125}}</string>
                <key>sourceSize</key>
                <string>{132,153}</string>
            </dict>
            <key>122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,651},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>122_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{244,198}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,198}}</string>
                <key>sourceSize</key>
                <string>{252,198}</string>
            </dict>
            <key>122_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,479},{112,132}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{112,132}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>122_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{186,218}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{186,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,610},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>125_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{202,215}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,215}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>125_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,483},{132,178}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{132,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>125_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,320},{132,178}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{132,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,673},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>131_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{140,124}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{140,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>131_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,516},{78,150}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{78,150}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>131_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,491},{78,150}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{78,150}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>fog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,491},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>fog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,143},{186,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,118}}</string>
                <key>sourceSize</key>
                <string>{186,118}</string>
            </dict>
            <key>fog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,190},{211,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,129}}</string>
                <key>sourceSize</key>
                <string>{211,129}</string>
            </dict>
            <key>fog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,401},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>fog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,174},{225,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,139}}</string>
                <key>sourceSize</key>
                <string>{225,139}</string>
            </dict>
            <key>fog_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,2},{226,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,139}}</string>
                <key>sourceSize</key>
                <string>{226,139}</string>
            </dict>
            <key>fog_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{227,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,139}}</string>
                <key>sourceSize</key>
                <string>{227,139}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,676},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_atlas.png</string>
            <key>size</key>
            <string>{2042,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71c76b0420320c6844247b2cbd396723:bc42cf8e7393f1d849955bc7d0d7fce2:d7b49ec2ce6766d5e2c9773c2b150b9b$</string>
            <key>textureFileName</key>
            <string>fighter_atlas.png</string>
        </dict>
    </dict>
</plist>
