<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>block_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>blood_splash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,87},{85,71}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{85,71}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>blood_splash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,2},{149,103}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,51},{149,103}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>blood_splash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,87},{101,93}}</string>
                <key>offset</key>
                <string>{61,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,38},{101,93}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>coin_gather_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{120,106}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{120,106}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>coin_gather_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{126,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{126,148}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>coin_gather_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{158,164}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,130},{180,24}}</string>
                <key>offset</key>
                <string>{-60,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{180,24}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
            <key>hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,155},{220,24}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{220,24}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
            <key>hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,168},{216,22}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{216,22}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
            <key>hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,147},{168,6}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,24},{168,6}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
            <key>hit_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,87},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>hit_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,107},{141,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,83}}</string>
                <key>sourceSize</key>
                <string>{141,83}</string>
            </dict>
            <key>hit_normal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>hit_normal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,128},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>perfect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{139,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,135}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>perfect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{140,136}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>perfect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{143,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,138}}</string>
                <key>sourceSize</key>
                <string>{143,140}</string>
            </dict>
            <key>perfect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>perfect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,215}}</string>
                <key>sourceSize</key>
                <string>{190,215}</string>
            </dict>
            <key>perfect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{188,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,214}}</string>
                <key>sourceSize</key>
                <string>{188,214}</string>
            </dict>
            <key>txt_d_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,156},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>txt_d_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,120},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>txt_d_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,110},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>txt_d_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,156},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>txt_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>txt_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,141},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>txt_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,66},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>txt_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,143},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_atlas.png</string>
            <key>size</key>
            <string>{1928,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c7cce0222e7f0cf9d7c98f232c393f9:01bb35466e5f0f5b7027fe93d3c2a788:f76cb0cf7274b40e7404b100db4c054c$</string>
            <key>textureFileName</key>
            <string>fx_atlas.png</string>
        </dict>
    </dict>
</plist>
